/* comon section css start  */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.continar{
    width: 1200px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* comon section css End  */

/* nav section css start  */
nav{
    background-color: #252d2f;

}
nav .logo{
    width: 15%;
    padding-top: 15px;
}
nav .menu{
    width: 85%;
}
nav .row{
    text-align: center;
}
nav .menu ul{
     justify-content: flex-end;
}
nav .menu ul a{
    font-size:16px ;
    font-weight: 700;
    display: inline-block;
    color: #ffff;
    padding: 30px 20px;
    text-transform: uppercase;
    transition: .7s;
}
nav .menu ul a:hover{
    color: #2ecc71;
}
/* nav section css end  */
#banner{
    background-image: url(../img/banner.jpg);
     height:1000px ;
}
#banner .continar_item{
    text-align: center;
    padding-top: 500px;
}
#banner .continar_item h1{
    font-size: 60px;
    font-weight: 700;
    color: #ffff;
    border-top: #ffff 2px  solid ;
    border-bottom:#ffff 2px solid ;
   
}
#banner .continar_item a{
    font-size: 18px;
    font-weight: 700;
    padding: 20px 15px;
    color: #ffff;
    text-transform: uppercase;
    border: #ffff 2px solid;
}
/* banner section css end  */

/* home section css stsrt  */
#home .home_item{
    width: 376px;
    padding: 100px 25px;
    color: #566366;
}
#home .home_item h2{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
#home .home_item p{
    font-size: 18px;
    font-weight: 400;
}
 /* home section css End  */

 /* about secton css start  */
#about{
    background-image: url(../img/Focal\ Resume.jpg);
    background-size: cover;
    background-size: 40%;
    background-repeat: no-repeat;
}
#about .rasel{
    padding-left:600px;
    color: #566366;
}

#about .about_item h3{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 50px;
}
#about .about_item p{
    font-size: 18px;
    font-weight: 400;
}
#about .rasel .servies_box{
    width: 50%;

}
#about .about_box {
    width: 50%;
    flex-wrap: wrap;
}
#about .about_end h4{
    font-size: 22px;
    font-weight: 700;
}
#about .about_end img{
    margin: 5px;
}
 /* about sectin css end  */
